<h1>Welcome</h1>
<%= button_to 'Войти', '/login', method: :get %>
<%#= button_to 'Зарегистрироваться', '/admins/new', method: :get %>
<%= form_with url: { action: 'by_code' }, method: :get do |form| %>
  <%= form.text_field :code %>
  <%= form.submit "Присоединиться" %>
<% end %>
