@import "~bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
}

.face {
  background-color: #42a76f73;
  min-height: 100%;
  min-width: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.groups {
  background-color: aliceblue;
}

.main-code-input {
  position: relative;
  top: 35vh;

  .input-group{
    height: 10vh;

    input {
      border-radius: 30px;
      font-size: x-large;
    }

  }
}

.qr-code {
  background-color: white;
}

#big-code {
  font-size: xx-large;
  padding-left: 3%
}

.white-form {
  background-color: white;

  input[type=submit] {
    min-width: fit-content;
  }
}

.admin {
  background-color: #382b2e;
  min-height: 100%;
  min-width: 100%;
}

.group-table {
  background-color: #828282;
  color: white;
}

.attempts-table {
  background-color: #ccddcc;
}

.dropdown-item-text {
  min-width: fit-content;
}

#admin-form {
  background-color: white;
  input[type=submit] {
    min-width: fit-content;
  }
}